<footer>
    <div class="footer-content">
        <p>&copy; 2023 مختبر القلب. جميع الحقوق محفوظة.</p>
        <div class="contact-info">
            <p><i class="fas fa-phone-alt"></i> الهاتف 1: 123-456-789</p>

            <p><i class="fas fa-phone-alt"></i> الهاتف 2: 987-654-321</p>
            
            <p><i class="fas fa-envelope"></i> البريد الإلكتروني: info@alqalb.com</p>
        </div>
        <div class="social-media">
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <div class="footer-image">
            <img src="./lab-img/lab-ha_-_Copy-removebg.png" alt="Footer Image">
        </div>
    </div>
</footer>